@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@100..800&display=swap");
:root {
  --color-primary: #194bfd;
  --color-primary-accent: #ad13fb;
  --color-white: #fff;
  --color-muted: #a1a0a0;
  --text-color: #fff;
  --color-ui-1: #0a0a0c;
  --color-ui-2: #171719;
  --radius-1: 4px;
  --radius-2: 0.8rem;
  --radius-3: 1.2rem;
  --radius-4: 2rem;
  --radius-5: 100%;
  --border-1: 1px solid rgba(89, 88, 88, 0.633);
  --transition: all 400ms ease;
  --gradient-1: linear-gradient(
    260deg,
    var(--color-primary-accent) 0%,
    var(--color-primary) 100%
  );
  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-color: var(--color-primary) var(--color-primary-accent);
  scrollbar-width: thin;
}
body,
html {
  min-height: 100vh;
  font-family: Sora, sans-serif;
  background: var(--color-ui-1);
  color: var(--text-color);
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}
body {
  overflow: hidden;
  overflow-y: auto;
  max-width: 2000px;
  margin: auto;
}
.container {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  padding: 50px 20px 120px;
}
.gradient__text {
  background: linear-gradient(
    to right,
    var(--color-primary) 0,
    var(--color-primary-accent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
}
.invertedd__color {
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
}
a {
  display: inline-block;
  color: var(--text-color);
}
p {
  font-size: 15px;
  line-height: 25px;
}
.btn,
h2,
h3,
h4 {
  font-weight: 500;
}
.btn {
  padding: 15px 25px;
  border-radius: var(--radius-2);
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background: var(--color-ui-2);
  transition: var(--transition);
}
.btn:hover {
  color: var(--color-primary-accent);
}
.btn__primary {
  background: var(--gradient-1);
}
.btn__primary:hover {
  background: transparent;
  box-shadow: 0 0 1px 2px var(--color-primary);
  color: var(--color-primary);
}
.text__muted {
  color: var(--color-muted);
}
.color__primary {
  color: var(--color-primary);
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.title {
  font-size: 55px;
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
}
.sub__title {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.icon__container {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-muted);
  opacity: 0.8;
}
.icon__container:hover {
  transform: scale(1.2);
  color: var(--text-color);
  opacity: 1;
}
.blur-effect {
  position: relative;
}
.blur-effect:before {
  content: "";
  position: absolute;
  width: 322px;
  background: var(--color-primary);
  background: -o-linear-gradient(
    190deg,
    var(--color-primary) 0,
    rgba(115, 67, 210, 0) 100%
  );
  height: 308px;
  background: linear-gradient(
    260deg,
    var(--color-primary) 0,
    rgba(115, 67, 210, 0) 100%
  );
  border-radius: 50%;
  filter: blur(150px);
  z-index: 0;
}
@media (max-width: 900px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  body {
    background-size: auto 100%;
  }
  .btn {
    font-size: 12px;
  }
  .title {
    font-size: 30px;
  }
  .sub__title {
    font-size: 20px;
  }
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50%
    no-repeat;
}
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(/_next/static/media/slick.25572f22.eot);
  src: url(/_next/static/media/slick.25572f22.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/slick.653a4cbb.woff) format("woff"),
    url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),
    url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg");
}
.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}
.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}
.navigation__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--color-ui-2);
  transition: var(--transition);
}
.navigation__row.contact__info__container {
  justify-content: flex-end;
}
.navigation__row .contact__info {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-muted);
  transition: var(--transition);
  cursor: pointer;
}
.navigation__row .contact__info .value {
  font-size: 14px;
}
.navigation__row .contact__info:hover {
  color: var(--text-color);
}
.navigation__row .contact__info:hover .icon__container {
  scale: 1.1;
}
.navigation__row.panel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}
.navigation__row .menu__container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navigation__row .menu__item {
  transition: var(--transition);
  color: var(--color-muted);
  font-size: 1rem;
  line-height: 32px;
  opacity: 0.7;
}
.navigation__row .menu__item:hover {
  color: var(--text-color);
  opacity: 1;
}
.navigation__row .menu__item.gradient__text {
  opacity: 1;
}
.navigation__row .menu__container .close__btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}
.navigation__row .nav__button__panel {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation__row .nav__button__panel .menu__opener__btn {
  font-size: 1.8rem;
  display: none;
}
.overlay-container {
  position: fixed;
  background: rgba(1, 1, 1, 0.5);
  top: 0;
  left: 0;
  z-index: 201;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
@media (max-width: 1150px) {
  .navigation__row .nav__button__panel .socal__handles__container {
    display: none;
  }
}
@media (max-width: 950px) {
  .navigation__row {
    position: relative;
    z-index: 200;
  }
  .navigation__row .contact__info {
    display: none;
  }
  .navigation__row .contact__info:nth-child(2) {
    display: flex;
  }
  .navigation__row .menu__container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 100vh;
    padding-top: 40px;
    background: var(--color-ui-2);
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    z-index: 202;
    transition: var(--transition);
  }
  .navigation__row .menu__container.open {
    left: 0;
  }
  .navigation__row .menu__item {
    padding: 10px 20px;
  }
  .navigation__row .nav__button__panel .menu__opener__btn {
    display: block;
  }
  .navigation__row .menu__container .close__btn {
    display: flex;
  }
}
@media (max-width: 400px) {
  .navigation__row .nav__button__panel .contact__btn {
    display: none;
  }
}
#header .container {
  display: flex;
  padding-top: 140px;
  gap: 30px;
  position: relative;
}
#header .container.blur-effect:before {
  right: 0;
  top: 0;
  margin-right: -5%;
  margin-top: -5%;
}
#header .container:after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom left,
    rgba(23, 23, 26, 0.5),
    transparent
  );
  z-index: 0;
}
#header .container .column {
  position: relative;
  z-index: 1;
}
#header .description,
#header .sub__title,
#header .title {
  text-align: left;
}
#header .user__info__container {
  flex: 1 1;
}
#header .buttons__container,
.display__flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .buttons__container {
  margin: 30px 0;
}
#header .socal__handles__container .icon__container {
  background: var(--color-ui-2);
}
#header .profile__container {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-3);
  transform: rotate(7deg);
  transition: var(--transition);
}
#header .profile__container:hover {
  transform: rotate(0);
  filter: none;
}
@media (max-width: 900px) {
  #header .container {
    flex-direction: column;
    align-items: center;
  }
  #header .container.blur-effect:before {
    display: none;
  }
  #header .description,
  #header .sub__title,
  #header .title {
    text-align: center;
  }
  #header .buttons__container,
  .display__flex {
    justify-content: center;
    gap: 5px;
  }
  #header .socal__handles__container {
    justify-content: center;
  }
  #header .profile__container {
    margin-top: 40px;
    transform: rotate(0);
  }
  #header .profile__container img {
    transition: var(--transition);
  }
  #header .profile__container:hover img {
    transform: scale(1.2);
  }
}
#services .services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 20px;
  margin-top: 50px;
}
#services .container > .description {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
@media (max-width: 900px) {
  #services .services__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #services .services__container {
    grid-template-columns: 100%;
  }
}
#about .description {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
#about .work__process__container {
  padding: 40px 0;
}
#about .work__process__container .sub__title {
  text-align: left;
  margin-bottom: 30px;
  gap: 20px;
}
#about .work__process__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  justify-content: center;
  grid-gap: 2rem;
  gap: 2rem;
}
#about .work__process {
  width: 100%;
  background: var(--color-ui-2);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}
#about .work__process:hover {
  border-color: var(--color-primary);
  background: var(--primary-glow);
  transform: scale(1.1);
}
#about .work__process .name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--color-muted);
}
#about .work__process:hover .name {
  color: var(--text-color);
}
@media (max-width: 900px) {
  #about .work__process__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  #about .work__process__container .sub__title {
    text-align: center;
  }
  #about .work__process__cards {
    grid-template-columns: 48% 48%;
    gap: 1rem;
  }
  #about .work__process .name {
    font-size: 15px;
  }
}
#skills {
  overflow: hidden;
}
#skills .container > .description {
  max-width: 700px;
  text-align: center;
  margin: auto auto 30px;
}
#skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transform: rotate(-5deg) skew(-5deg);
}
#skills .skill__row {
  color: var(--text-muted);
  padding: 5px 20px;
  border-radius: var(--radius-3);
}
#skills .skill__row .detail {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#skills .skill__row:hover {
  background: var(--color-ui-2);
}
#skills .skill__row .icon__container {
  font-size: 30px;
}
#skills .skill__row:hover .title {
  color: var(--color-primary);
}
#skills .skill__row:hover .icon__container {
  color: var(--text-color);
  transform: scale(1.2);
}
#skills .skill__row .progress__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
#skills .skill__row .progress__container {
  position: relative;
  height: 6px;
  width: 100%;
  background: var(--color-ui-2);
  border: var(--border-1);
  border-radius: var(--radius-4);
}
#skills .skill__row .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--gradient-1);
  border-radius: var(--radius-4);
}
@media (max-width: 900px) {
  #skills .skill__row .icon__container {
    font-size: 20px;
  }
  #skills .skill__row .title {
    font-size: 18px;
  }
}
#projects .slides__button__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin: 40px 0;
  padding: 0 1rem;
}
#projects .slides__button__container .icon__container {
  background: var(--color-ui-2);
}
#projects .slides__button__container .icon__container:hover {
  background: var(--gradient-1);
}
#projects .slick-track {
  display: flex;
  gap: 1rem;
}
#projects .slick-slide {
  height: inherit !important;
  background: var(--color-ui-2);
  border-radius: var(--radius-3);
  overflow: hidden;
  transition: var(--transition);
  border: 2px solid transparent;
}
#projects .slick-slide:hover {
  transform: scale(0.98);
  border-color: var(--color-primary);
  background: var(--primary-glow);
}
#projects .slick-prev,
.slick-next {
  display: none !important;
}
@media (max-width: 600px) {
  #projects .slides__button__container {
    justify-content: center;
  }
}
#testimonials {
  background: var(--secondary-glow);
}
#testimonials .testimonial__container {
  max-width: 700px;
  margin: 60px auto auto;
}
#testimonials .slides__button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  padding: 0 1rem;
}
#testimonials .slides__button__container .icon__container {
  background: var(--color-ui-2);
}
#testimonials .slides__button__container .icon__container:hover {
  background: var(--gradient-1);
}
#testimonials .slick-track {
  display: flex;
  gap: 1rem;
}
#testimonials .slick-slide {
  height: inherit !important;
  background: var(--color-ui-1);
  border-radius: var(--radius-4);
  overflow: hidden;
  transition: var(--transition);
  border: 2px solid transparent;
}
#testimonials .slick-slide:hover {
  transform: scale(0.98);
  border-color: var(--color-primary);
}
#testimonials .slick-prev,
.slick-next {
  display: none !important;
}
#testimonials .testimonial__card {
  padding: 60px 40px;
  text-align: center;
}
#testimonials .profile__container {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: var(--radius-5);
  margin: auto auto 30px;
}
#testimonials .name {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
#contact .container {
  display: flex;
  gap: 30px;
}
#contact .contact__options {
  flex: 1 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1.3rem;
}
#contact .contact__options .option {
  border-radius: var(--radius-3);
  background: linear-gradient(
    to bottom right,
    var(--color-ui-1),
    var(--color-ui-2)
  );
  border: 2px solid transparent;
  transition: var(--transition);
  padding: 1.2rem;
}
#contact .contact__options .option:hover {
  scale: 0.98;
  border-color: var(--color-primary);
  background: var(--primary-glow);
}
#contact .contact__options .option .option__top {
  display: flex;
  align-items: center;
  gap: 20px;
}
#contact .contact__options .option .icon__container {
  width: 4rem;
  font-size: 25px;
  background: var(--color-ui-2);
  border-radius: var(--radius-5);
}
#contact .contact__options .option:hover .icon__container {
  transform: scale(1.2);
  color: var(--text-color);
}
#contact .contact__options .option .value {
  margin-top: 20px;
}
#contact .contact__form {
  background: linear-gradient(
    to bottom right,
    var(--color-ui-1),
    var(--color-ui-2)
  );
  padding: 40px;
  border-radius: var(--radius-3);
  width: 100%;
  max-width: 500px;
}
#contact .title {
  font-size: 35px;
  text-align: left;
}
#contact .row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
#contact .control {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background: var(--color-ui-1);
  border-radius: var(--radius-2);
  color: var(--text-color);
  font-size: 15px;
  overflow: hidden;
  transition: var(--transition);
  border: var(--border-1);
  border-width: 2px;
  resize: none;
}
input {
  height: 50px;
}
#contact .control:focus {
  border-color: var(--color-primary);
}
#contact .contact__form__bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 800px) {
  #contact .container {
    flex-direction: column;
    align-items: stretch;
  }
  #contact .contact__form {
    max-width: 100%;
    padding: 20px;
  }
}
#footer {
  background: var(--color-ui-2);
}
#footer .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-gap: 2rem;
  gap: 2rem;
}
#footer .row .column {
  width: 100%;
}
#footer .row .column:first-child {
  flex: 1 1;
}
#footer .row .column:first-child .description {
  margin: 20px 0;
}
#footer .routes__container {
  list-style: none;
}
#footer .group__name {
  font-size: 16px;
  margin-bottom: 15px;
}
#footer .routes__container .route__item {
  display: flex;
  align-items: center;
  color: var(--color-muted);
  transition: var(--transition);
  font-size: 15px;
}
#footer .routes__container .route__item:hover {
  color: var(--text-color);
}
#footer .routes__container .route__item:hover .icon__container {
  transform: scale(1.2);
  color: var(--text-color);
}
#footer .copyright__container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
#footer .copyright__container h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
}
@media (max-width: 900px) {
  #footer .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #footer .row {
    grid-template-columns: 100%;
  }
}
.socal__handles__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product__card {
  position: relative;
}
.product__card .picture {
  height: 250px;
  overflow: hidden;
  display: block;
  transition: var(--transition);
}
.product__card:hover .picture {
  transform: scale(1.1);
}
.product__card .details {
  padding: 20px;
}
.product__card .details .name {
  font-size: 15px;
  margin-bottom: 15px;
}
.product__card .icon__container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product__card:hover .icon__container {
  transform: scale(1.2);
  background: var(--color-ui-2);
  color: var(--text-color);
}
.service__card {
  padding: 15px;
}
.service__card .icon__container {
  background: var(--color-ui-2);
  width: 4rem;
  font-size: 2rem;
  margin-bottom: 15px;
}
.service__card:hover .icon__container {
  transform: scale(1.2);
  color: var(--text-color);
}
.service__card .name {
  margin: 10px 0;
  font-size: 16px;
}
.service__card .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .service__card .icon__container {
    margin: auto auto 1.5rem;
  }
  .service__card .description,
  .service__card .name {
    text-align: center;
  }
}
#teams .container .description {
  text-align: center;
  margin: auto auto 60px;
  max-width: 600px;
}
#teams .team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-gap: 20px;
  gap: 20px;
  overflow: hidden;
}
@media (max-width: 900px) {
  #teams .team__container {
    grid-template-columns: 48% 48%;
    gap: 10px;
  }
}
.team__card {
  background: var(--color-ui-2);
  max-width: 200px;
  border-radius: var(--radius-3);
  position: relative;
  overflow: hidden;
}
.team__card .profile__container {
  height: 190px;
  overflow: hidden;
  border-radius: var(--radius-3) var(--radius-3) 0 0;
  transition: var(--transition);
}
.team__card:hover .profile__container {
  scale: 1.1;
  filter: none;
}
.team__card .name {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
}
.team__card .text__muted {
  font-size: 14px;
}
.team__card .details,
.team__card .social__container {
  padding: 15px 20px;
  text-align: center;
}
.team__card .details {
  position: absolute;
  left: 100%;
  bottom: 50px;
  width: 100%;
  transition: var(--transition);
  background: var(--color-ui-1);
}
.team__card:hover .details {
  left: 0;
}
.team__card .social__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .team__card {
    max-width: 100%;
  }
}
